{"Right triangles & trigonometry"
 ["Use ratios in right triangles"
  "Trigonometric ratios in right triangles"
  "Solve for a side in right triangles"
  "Solve for an angle in right triangles"
  "Relate ratios in right triangles"
  "Right triangle trigonometry word problems"
  "Reciprocal trig ratios"]
 "Trigonometric functions"
 ["Unit circle"
  "Radians & degrees"
  "Unit circle (with radians)"
  "Use the Pythagorean identity"
  "Trig values of π/6, π/4, and π/3"
  "Trig identities from reflections and rotations"
  "Trig values of special angles"
  "Midline of sinusoidal functions from graph"
  "Amplitude of sinusoidal functions from graph"
  "Period of sinusoidal functions from graph"
  "Amplitude of sinusoidal functions from equation"
  "Midline of sinusoidal functions from equation"
  "Period of sinusoidal functions from equation"
  "Graph sinusoidal functions"
  "Construct sinusoidal functions"
  "Graph sinusoidal functions: phase shift"
  "Interpreting trigonometric graphs in context"
  "Modeling with sinusoidal functions"
  "Modeling with sinusoidal functions: phase shift"]
 "Non-right triangles & trigonometry"
 ["Solve triangles using the law of sines"
  "Solve triangles using the law of cosines"
  "General triangle word problems"]
 "Trigonometric equations and identities"
 ["Evaluate inverse trig functions"
  "Solve sinusoidal equations (basic)"
  "Solve sinusoidal equations"
  "Interpret solutions of trigonometric equations in context"
  "Sinusoidal models word problems"
  "Using the trig angle addition identities"
  "Find trig values using angle addition identities"]}