body {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #3d0b43, #200933);
  background-size: auto 100vh;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  color: #ffcc00;
  text-shadow: 0 0 2px #100c0f, 0 0 3px #ffaa0099, 0 0 5px #ffaa0099, 0 0 10px #ffaa0099;
  font-style: italic;
}

h1 {
  line-height: 0.2;
}

p {
  color: #d60b74;
  line-height: 0;
}

button {
  border: 1px solid rgb(78, 20, 75);
  background-color:rgba(179, 32, 184, 0.842);
  color: #61e2ff;

}

textarea, input {
  color: #9963ff;

  border: 1px solid rgb(100, 20, 96);
  background-color:rgba(77, 24, 82, 0.842);
}
